@model UserExaminationModel
@{
	ViewData["Title"] = "Examine";
}
<h2>@ViewData["Title"]</h2>
<tag_form method="post" asp-area="@Roles.DOCTOR" asp-controller="@Controllers.VISITS" asp-action="Examine">
	<tag_input asp-for="VisitId" value="@Model.VisitId" hidden />
	<div class="form-group">
		<tag_label asp-for="PatientName"></tag_label>
		<tag_input class="form-control" asp-for="PatientName" value="@Model.PatientName" readonly />
	</div>
	<div class="form-group">
		<tag_a class="btn btn-info" target="_blank" rel="noopener noreferrer" asp-area="@Roles.DOCTOR" asp-controller="@Controllers.EXAMS" asp-action="PatientExams" asp-route-id="@Model.PatientId">Exams</tag_a>
		<tag_a class="btn btn-info" target="_blank" rel="noopener noreferrer" asp-area="@Roles.DOCTOR" asp-controller="@Controllers.VISITS" asp-action="PatientVisits" asp-route-id="@Model.PatientId">Visits</tag_a>
	</div>
	<div class="form-group">
		<tag_label asp-for="Note"></tag_label>
		<tag_textarea class="form-control" asp-for="Note"></tag_textarea>
	</div>
	<div class="form-row">
		<tag_a class="btn btn-warning col-1" target="_blank" rel="noopener noreferrer" asp-area="@Roles.DOCTOR" asp-controller="@Controllers.EXAMS" asp-action="IssueExam" asp-route-id="@Model.VisitId">Exam</tag_a>
		<input class="btn btn-success col-1 offset-10" type="submit" value="Save" />
	</div>
</tag_form>