@if (User.IsInRole(Roles.ADMIN))
{
	ViewData["NavbarBrand"] = "MedHelper (Admin)";
}
else if (User.IsInRole(Roles.DOCTOR))
{
	ViewData["NavbarBrand"] = "MedHelper (Doctor)";
}
else if (User.IsInRole(Roles.PERSONNEL))
{
	ViewData["NavbarBrand"] = "MedHelper (Personnel)";
}
else if (User.IsInRole(Roles.USER))
{
	ViewData["NavbarBrand"] = "MedHelper";
}
else
{
	ViewData["NavbarBrand"] = "MedHelper (Guest)";
}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - MedHelper</title>

	<tag_environment include="Development">
		<tag_link rel="stylesheet" href="~/lib/node_modules/bootstrap/dist/css/bootstrap.css" />
		<tag_link rel="stylesheet" href="~/css/site.css" />
		<tag_link rel="stylesheet" href="~/lib/node_modules/@@fortawesome/fontawesome-free/css/all.css" />
	</tag_environment>
	<tag_environment exclude="Development">
		<tag_link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
							asp-fallback-href="~/lib/node_modules/bootstrap/dist/css/bootstrap.min.css"
							asp-fallback-test-class="sr-only"
							asp-fallback-test-property="position"
							asp-fallback-test-value="absolute"
							integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
							crossorigin="anonymous" />
		<tag_link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
							asp-fallback-href="~/lib/node_modules/@@fortawesome/fontawesome-free/css/all.css"
							integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
							crossorigin="anonymous" />
		<tag_link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
	</tag_environment>
</head>
<body>
	<nav class="navbar navbar-expand-md navbar-dark bg-red">
		<tag_a class="navbar-brand" asp-page="/Index">@ViewData["NavbarBrand"]</tag_a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item"><tag_a class="nav-link text-light" asp-page="/Index">Index</tag_a></li>
				<li class="nav-item"><tag_a class="nav-link text-light" asp-page="/About">About</tag_a></li>
				<li class="nav-item"><tag_a class="nav-link text-light" asp-page="/Contact">Contact</tag_a></li>
				@if (User.IsInRole(Roles.ADMIN))
				{
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@Roles.ADMIN</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<tag_a class="dropdown-item text-red" asp-area="@Roles.ADMIN" asp-controller="@Controllers.USERS" asp-action="All">All Users</tag_a>
							<div class="dropdown-divider"></div>
							<tag_a class="dropdown-item text-red" asp-area="@Roles.ADMIN" asp-controller="@Controllers.FACILITIES" asp-action="Add">Add Facility</tag_a>
							<tag_a class="dropdown-item text-red" asp-area="@Roles.ADMIN" asp-controller="@Controllers.FACILITIES" asp-action="All">All Facilities</tag_a>
							<div class="dropdown-divider"></div>
							<tag_a class="dropdown-item text-red" asp-area="@Roles.ADMIN" asp-controller="@Controllers.QUALIFICATIONS" asp-action="Add">Add Qualification</tag_a>
							<tag_a class="dropdown-item text-red" asp-area="@Roles.ADMIN" asp-controller="@Controllers.QUALIFICATIONS" asp-action="All">All Qualifications</tag_a>
						</div>
					</li>
				}
				@if (User.IsInRole(Roles.USER))
				{
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@Roles.USER</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<tag_a class="dropdown-item text-red" asp-area="@Roles.USER" asp-controller="@Controllers.USERS" asp-action="Doctors">Doctors</tag_a>
							<div class="dropdown-divider"></div>
							<tag_a class="dropdown-item text-red" asp-area="@Roles.USER" asp-controller="@Controllers.VISITS" asp-action="All">Appointments</tag_a>
						</div>
					</li>
				}
				@if (User.IsInRole(Roles.DOCTOR))
				{
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@Roles.DOCTOR</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<tag_a class="dropdown-item text-red" asp-area="@Roles.DOCTOR" asp-controller="@Controllers.VISITS" asp-action="All">Appointments</tag_a>
						</div>
					</li>
				}
				@if (User.IsInRole(Roles.PERSONNEL))
				{
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@Roles.PERSONNEL</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<tag_a class="dropdown-item text-red" asp-area="@Roles.PERSONNEL" asp-controller="@Controllers.EXAMS" asp-action="All">Exams</tag_a>
						</div>
					</li>
				}
			</ul>
			<tag_partial name="_LoginPartial">
		</div>
	</nav>

	<tag_partial name="_CookieConsentPartial" />

	<div class="container body-content">
		<hr />
		@RenderBody()
		<hr />
		<footer>
			<div class="row">
				<label class="col-2">&copy; 2018 - MedHelper</label>
				<tag_a class="col-1 offset-9 text-right" asp-page="/Privacy">Privacy</tag_a>
			</div>
		</footer>
	</div>

	<tag_environment include="Development">
		<tag_script src="~/lib/node_modules/jquery/dist/jquery.js"></tag_script>
		<tag_script src="~/lib/node_modules/bootstrap/dist/js/bootstrap.js"></tag_script>
		<tag_script src="~/js/site.js" asp-append-version="true"></tag_script>
	</tag_environment>
	<tag_environment exclude="Development">
		<tag_script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
								asp-fallback-src="~/lib/node_modules/jquery/dist/jquery.min.js"
								asp-fallback-test="window.jQuery"
								integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
								crossorigin="anonymous">
		</tag_script>
		<tag_script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
								asp-fallback-src="~/lib/node_modules/bootstrap/dist/js/bootstrap.min.js"
								asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
								integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
								crossorigin="anonymous">
		</tag_script>
		<tag_script src="~/js/site.min.js"
								asp-fallback-src="~/js/site.js"
								asp-append-version="true"></tag_script>
	</tag_environment>

	@RenderSection("Scripts", required: false)
</body>
</html>
